*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(180deg, #8257E5 0%, #271A45 100%);
}

main{
  width: fit-content;
  margin: 0 auto;
  padding: 78px 0;
  height: 100vh;
}

h1{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

span{
  color: rgba(0, 0, 0, 0.64);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
}
p{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
}
.pd{
  padding: 24px 32px;
}


.border{
  width: 15px;
  height: 30px;
  background-color: #633fb8;
  position: absolute;
}
.top-left{
  top: -15px;
  left: 0;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.top-right{
  top: -15px;
  right: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.bottom-left{
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  bottom: -15px;
  left: 0;
}
.bottom-right{
  bottom: -15px;
  right: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}


.card{
  background-color: #fff;
  max-width: 330px;
  margin: 20px auto;
  border-radius: 24px;
}


.flight-info{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.flight-info >div{
  display: flex;
  justify-content: space-between;
}
.flight-info >div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flight-info >div > div:nth-last-child(1){
  text-align: end;
}
.flight-info >div >img{
  width: 24px;
  height: 24px;
}
.landing > p:nth-child(2), .shipping > p:nth-child(2){
  font-size: 40px;
}


.passenger-info{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.65);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.65);
  border-radius: -24px;
}
.passenger-info > div:nth-child(4){
  text-align: end;
}

.passenger-info > div:nth-child(3){
  text-align: start;
}


.shipping-info{
  position: relative;
}
.shipping-info > div{
  display: flex;
  justify-content: space-between;
}
.shipping-info .hour{
  background-color: #633fb8;
  border-radius: 8px;
  padding: 4px 6px;
  color: #fff;
  margin-bottom: 16px;
}
.shipping-info > div > div > img{
  display: block;
  margin-bottom: 10px;
}
.shipping-info > div > div:nth-child(1){
  text-align: start;
}
.shipping-info > div > div >p{
  margin: 4px 0 16px 0;
  width: fit-content;
}
.shipping-info > p{
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.64);
  font-weight: 300;
}
.shipping-info > p > em{
  font-style:normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
}


main > div{  
  text-align: center;
  width: 330px;
}
main > div > span{
  margin-top: 14px;
  color: #fff;  
  width: 330px;
}